body{

font-family:Arial;

max-width:1000px;

margin:auto;

padding:40px;

background:#fafafa;

color:#333;

}

h1{

font-size:48px;

color:#003366;

}

h2{

margin-top:60px;

}

.project{

background:white;

padding:20px;

margin:20px 0;

border-radius:10px;

box-shadow:0px 2px 8px rgba(0,0,0,0.1);

}
